* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: lightseagreen;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: lightpink;
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 68px;
    letter-spacing: 2px;
}

li {
    color: lightpink;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 10px;
    letter-spacing: 1px;
}